
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

                /* NAVBAR */
.navbar {
    background: #4f46e5;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

        /* Title / Username */
.navbar h2 {
    margin-left: 30px;
    margin: 0;
    font-size: 22px;
}

        /* Menu buttons container */
.menu-btns {
    display: flex;
    gap: 12px;
}

        /* Buttons styling */
.menu-btns a {
    text-decoration: none;
    background: #6366f1;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s ease;
}

        /* Hover animation */
.menu-btns a:hover {
    background: #818cf8;
    transform: translateY(-2px);
}


        /* GRID LAYOUT */
.main {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 25px;
    width: 90%;
    margin: 30px auto;
}

        /* LEFT: CREATE POST FORM */
.left-box {
    background: white;
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    height: fit-content;
}

.left-box input[type="text"],
.left-box textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.left-box input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 10px;
}

.left-box input[type="submit"]:hover {
    background: #6366f1;
}

        /* RIGHT: POSTS */
.post-card {
    background: white;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.post-card h2 {
    margin: 0;
    color: #4f46e5;
}

.created {
    color: #6b7280;
    font-size: 13px;
    margin-top: 4px;
}

/* RESPONSIVE for phones */
@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }
}